.article-card-Image{
  display: grid;
  place-items: center;
  height: 200px;
  width: 100%;
  border-radius:100% 0% 100% 0% / 0% 50% 50% 100%;
  filter: drop-shadow(0px 0px 2px #030303b3);


}
.article-card-Image-dialog{
  display: grid;
  place-items: center;
  height: 300px;
  width: 100%;
  border-radius:100% 0% 100% 0% / 0% 50% 50% 100%;
  filter: drop-shadow(0px 0px 2px #030303b3);


}
.article-card-Image-no{
  display: grid;
  place-items: center;
  height: 200px;
  width: 100%;
  border-radius:100% 0% 100% 0% / 0% 50% 50% 100%;
  background-image: linear-gradient(to bottom left, #7AC74C, #2F6B1F);

}
.grass{
  background-image: linear-gradient(to bottom left, #7AC74C, #2F6B1F);
}

.fire{
  background-image: linear-gradient(to bottom left, #EE8130, #8C1D00);
}

.water{
  background-image: linear-gradient(to bottom left, #6390F0, #142F8C);
}

.electric{
  background-image: linear-gradient(to bottom left, #F7D02C, #9E7C00);
}

.ice{
  background-image: linear-gradient(to bottom left, #96D9D6, #1E6F7A);
}

.fighting{
  background-image: linear-gradient(to bottom left, #C22E28, #5A0E0B);
}

.poison{
  background-image: linear-gradient(to bottom left, #A33EA1, #4B0F4A);
}

.ground{
  background-image: linear-gradient(to bottom left, #E2BF65, #7A5A1C);
}

.flying{
  background-image: linear-gradient(to bottom left, #A98FF3, #4B3A9E);
}

.psychic{
  background-image: linear-gradient(to bottom left, #F95587, #7C1036);
}

.bug{
  background-image: linear-gradient(to bottom left, #A6B91A, #3E4A07);
}

.rock{
  background-image: linear-gradient(to bottom left, #B6A136, #4F3F0B);
}

.ghost{
  background-image: linear-gradient(to bottom left, #735797, #2A1744);
}

.dragon{
  background-image: linear-gradient(to bottom left, #6F35FC, #1E0A6D);
}

.dark{
  background-image: linear-gradient(to bottom left, #705746, #1F140C);
}

.steel{
  background-image: linear-gradient(to bottom left, #B7B7CE, #4A4A5E);
}

.fairy{
  background-image: linear-gradient(to bottom left, #D685AD, #6B2A47);
}

.normal{
  background-image: linear-gradient(to bottom left, #A8A77A, #4F4F2C);
}
