.grass{
  height: 200px;
  width: 100%;
  border-radius:100% 0% 100% 0% / 0% 50% 50% 100%;
  display: grid;
  place-items: center;
  background-image: linear-gradient(to bottom left, #8bd96a, #3f6f2a);
}

.fire{
  height: 200px;
  width: 100%;
  border-radius:100% 0% 100% 0% / 0% 50% 50% 100%;
  display: grid;
  place-items: center;
  background-image: linear-gradient(to bottom left, #ff9a3c, #c0392b);
}

.water{
  height: 200px;
  width: 100%;
  border-radius:100% 0% 100% 0% / 0% 50% 50% 100%;
  display: grid;
  place-items: center;
  background-image: linear-gradient(to bottom left, #7fb3ff, #2c4aa3);
}

.bug{
  height: 200px;
  width: 100%;
  border-radius:100% 0% 100% 0% / 0% 50% 50% 100%;
  display: grid;
  place-items: center;
  background-image: linear-gradient(to bottom left, #c3d94e, #6f7f12);
}

.normal{
  height: 200px;
  width: 100%;
  border-radius:100% 0% 100% 0% / 0% 50% 50% 100%;
  display: grid;
  place-items: center;
  background-image: linear-gradient(to bottom left, #c2c2a3, #6e6e4a);
}

.electric{
  height: 200px;
  width: 100%;
  border-radius:100% 0% 100% 0% / 0% 50% 50% 100%;
  display: grid;
  place-items: center;
  background-image: linear-gradient(to bottom left, #ffe066, #c9a400);
}

.psychic{
  height: 200px;
  width: 100%;
  border-radius:100% 0% 100% 0% / 0% 50% 50% 100%;
  display: grid;
  place-items: center;
  background-image: linear-gradient(to bottom left, #ff7aa8, #b81e5d);
}

.rock{
  height: 200px;
  width: 100%;
  border-radius:100% 0% 100% 0% / 0% 50% 50% 100%;
  display: grid;
  place-items: center;
  background-image: linear-gradient(to bottom left, #d1b85a, #7a6520);
}

.ghost{
  height: 200px;
  width: 100%;
  border-radius:100% 0% 100% 0% / 0% 50% 50% 100%;
  display: grid;
  place-items: center;
  background-image: linear-gradient(to bottom left, #8a74b8, #3a2a5e);
}

.fighting{
  height: 200px;
  width: 100%;
  border-radius:100% 0% 100% 0% / 0% 50% 50% 100%;
  display: grid;
  place-items: center;
  background-image: linear-gradient(to bottom left, #e04b3f, #6e120d);
}

.poison{
  height: 200px;
  width: 100%;
  border-radius:100% 0% 100% 0% / 0% 50% 50% 100%;
  display: grid;
  place-items: center;
  background-image: linear-gradient(to bottom left, #c060c0, #5a1f5a);
}

.ground{
  height: 200px;
  width: 100%;
  border-radius:100% 0% 100% 0% / 0% 50% 50% 100%;
  display: grid;
  place-items: center;
  background-image: linear-gradient(to bottom left, #f0d27a, #8f7422);
}

.fairy{
  height: 200px;
  width: 100%;
  border-radius:100% 0% 100% 0% / 0% 50% 50% 100%;
  display: grid;
  place-items: center;
  background-image: linear-gradient(to bottom left, #ffb7c9, #b94a6a);
}

.flying{
  height: 200px;
  width: 100%;
  border-radius:100% 0% 100% 0% / 0% 50% 50% 100%;
  display: grid;
  place-items: center;
  background-image: linear-gradient(to bottom left, #c0b0ff, #5a4aa8);
}

.ice{
  height: 200px;
  width: 100%;
  border-radius:100% 0% 100% 0% / 0% 50% 50% 100%;
  display: grid;
  place-items: center;
  background-image: linear-gradient(to bottom left, #b8f0f0, #4f8c8c);
}

.dragon{
  height: 200px;
  width: 100%;
  border-radius:100% 0% 100% 0% / 0% 50% 50% 100%;
  display: grid;
  place-items: center;
  background-image: linear-gradient(to bottom left, #8b5cff, #2e0fa3);
}
