*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    background-image: linear-gradient(rgb(17, 13, 43),  rgb(8, 1, 49) , rgb(6, 2, 29));
}

header {
    color: white;
    padding: 2px;
    text-align: center;
    box-shadow: 0 2px 14px rgba(0, 0, 0, 0.5);
    height: 170px;
   
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 20px;
    flex-direction: column;
    gap: 20px;
    
}
.navbar img{
    height: 70px;
}