* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
body {
  min-height: 100vh;
  background-image: linear-gradient(
    rgb(14, 13, 43),
    rgb(22, 5, 121),
    rgb(46, 14, 227)
  );
  display: flex;
  flex-direction: column;
}

header {
  color: white;
  padding: 2px;
  text-align: center;
  box-shadow: 0 2px 14px rgba(0, 0, 0, 0.5);
  height: 170px;
  margin-bottom: 70px;
  width: 100%;
}
footer {
  display: flex;
  color: rgba(255, 255, 255, 0.811);
  padding: 2px;
  text-align: center;
  box-shadow: 0 2px 14px rgba(0, 0, 0, 0.851);
  height: 100px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  font-size: 10px;
  width: 100%;
}

footer img {
  height: 36px;
}
main {
  flex: 1;
  max-width: 1400px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
}
