*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    background-image: linear-gradient(rgb(17, 13, 43),  rgb(6, 2, 29), rgb(8, 1, 49));
}
