.article-card{
  width: 220px;
  background: #fff;
  border-radius: 20px;
  border: 5px solid #fff;
  overflow: hidden;
  color: var(--color-text);
  box-shadow: rgba(0, 0, 0, 0.584) 0px 10px 20px,
              rgba(0, 0, 0, 0.23) 0px 6px 6px;
  cursor: pointer;
  transition: all .2s ease-in-out;
}
.article-card:hover{
  transform: scale(1.05);
}

.article-main-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  margin: 0 auto;
}


.article-card-title{
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 20px;

  
}

.article-card-Image {
  display: grid;
  place-items: center;
  height: 200px;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.pokemon-image {
 height: 120px;
 object-fit: cover;
 filter: drop-shadow(0px 0px 4px #030303b3);
}
.pokemon-image:hover{
filter: drop-shadow(0px 0px 4px #030303);

}
.pokemon-type-icon {
  position: absolute; 
  top: 10px;         
  right: 45px;      
  width: 30px;        
  height: 30px;
   filter: drop-shadow(0px 0px 4px #030303b3);

}
.article-card-Image img:last-child {
  position: absolute; 
  top: 10px;         
  right: 10px;      
  width: 30px;        
  height: 30px;
   filter: drop-shadow(0px 0px 4px #030303b3);

}

.article-card-Image span{
  position: absolute; 
  top: 10px;         
  left: 10px;    
  color: white;  
  font-size: 18px;
  font-weight: 600;

}
.not_found{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 380px;
  height: 200px;
}
.not_found img{
  height: 40px;
}

