.article-card {
  width: 220px;
  background: #fff;
  border-radius: 20px;
  border: 5px solid #fff;
  overflow: hidden;
  color: var(--color-text);
  box-shadow:
    rgba(0, 0, 0, 0.584) 0px 10px 20px,
    rgba(0, 0, 0, 0.23) 0px 6px 6px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;

}

.article-card:hover {
  transform: scale(1.05);
}

.article-main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  margin: 0 auto;
}

.article-card-title {
  text-align: center;
  text-transform: uppercase;
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.article-card-Image {
  display: grid;
  place-items: center;
  height: 200px;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.pokemon-image {
  height: 120px;
  object-fit: cover;
  filter: drop-shadow(0px 0px 4px #030303b3);
}
.pokemon-image:hover {
  filter: drop-shadow(0px 0px 4px #030303);
}
.pokemon-type-icon_2 {
  position: absolute;
  top: 58px;
  right: 15px;
  width: 40px;
  height: 40px;
  filter: drop-shadow(0px 0px 4px #030303b3);
}
.pokemon-type-icon {
  position: absolute;
  top: 10px;
  right: 15px;
  width: 40px;
  height: 40px;
  filter: drop-shadow(0px 0px 4px #030303b3);
}
.article-card-Image img:last-child {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  filter: drop-shadow(0px 0px 4px #030303b3);
}

.article-card-Image span {
  position: absolute;
  top: 10px;
  left: 10px;
  color: white;
  font-size: 18px;
  font-weight: 600;
}
.not_found {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 380px;
  height: 200px;
}
.not_found img {
  height: 40px;
}

.article-card-dialog {
  width: 420px;
  height: 600px;
  background: #fff;
  border-radius: 20px;
  border: 5px solid #fff;
  overflow: hidden;
  color: var(--color-text);
  box-shadow:
    rgba(0, 0, 0, 0.584) 0px 10px 20px,
    rgba(0, 0, 0, 0.23) 0px 6px 6px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.article-card-title-dialog{
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 20px;
}
.article-card-Image-dialog {
  display: grid;
  place-items: center;
  height: 300px;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.pokemon-span-dialog {
  position: absolute;
  top: 10px;
  right: 10px;
  color: white;
  font-size: 18px;
  font-style: bold;

}

.pokemon-image-dialog {
  height: 220px;
  object-fit: cover;
  filter: drop-shadow(0px 0px 4px #030303b3);
}

.article-card-Image-dialog span {
  position: absolute;
  top: 10px;
  left: 15px;
  color: white;
  font-size: 28px;
}
.pokemon-type-icon-dialog {
  height: 30px;
  border: none;
  border-radius: 100px;
  padding: 5px 30px;
  color: #fff;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  margin: 0 auto;
 
}

.tab-bar {
  display: flex;
  justify-content: center;
}

.tab-button {
  width: 100px;
  height: 30px;
  margin-bottom: 30px;
  border: none;
}
.tab-button:active {
  border-bottom: 4px solid var(--type-color);
}
.tab-button:hover {
  border-bottom: 4px solid var(--type-color);
}

.progress-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
  gap: 30px;
}
.progress {
  display: flex;
  width: 200px;
  background-color: rgba(172, 172, 172, 0.571);
  border-radius: 15px;
  height: 15px;
}
.progress-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15px;
  background-color: var(--type-color);
  border-radius: 15px;
  margin-bottom: 20px;
  font-size: 12px;
  color: black;
    
    

}
.name {
  display: flex;
  flex-direction: column;
  width: 350px;
  padding-right: 22px;
}

.card-text {
  width: 80px;
  text-align: left;
  font-size: 14px;
  flex-shrink: 0;
  

}
.about {
  display: flex;
  margin-bottom: 10px;
  gap: 30px;
  padding-left: 5px;
  font-size: 12px;
  

}
.about-span:first-child {
  margin-left: -4px;
}
.about-span-last {
  padding-left: 13px;
}

@media screen and (max-width: 590px) {
  .article-card-Image-dialog {
    /* display: grid; */
    /* place-items: center; */
    height: 220px;
    width: 280px;
    /* position: relative; */
    /* overflow: hidden; */
}
.article-card-dialog {
    width: 280px;
    height: 440px;
    /* background: #fff; */
    /* border-radius: 20px; */
    /* border: 5px solid #fff; */
    /* overflow: hidden; */
    /* color: var(--color-text); */
    /* box-shadow: rgba(0, 0, 0, 0.584) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px; */
    /* cursor: pointer; */
    /* transition: all 0.2s ease-in-out; */
}
.pokemon-image-dialog {
    height: 120px;
    /* object-fit: cover; */
    /* filter: drop-shadow(0px 0px 4px #030303b3); */
}
.pokemon-type-icon_2 {
    /* position: absolute; */
    top: 45px;
    /* right: 15px; */
    width: 25px;
    height: 25px;
    /* filter: drop-shadow(0px 0px 4px #030303b3); */
}
.pokemon-type-icon {
    /* position: absolute; */
    /* top: 10px; */
    /* right: 15px; */
    width: 25px;
    height: 25px;
    /* filter: drop-shadow(0px 0px 4px #030303b3); */
}
.article-card-title-dialog {
     font-size: 18px; 
    
    /* text-transform: uppercase; */
    /* margin-top: 10px; */
   margin-bottom: 10px
}

.name{
    /* display: flex; */
    /* flex-direction: column; */
    width: 250px;
    /* padding-right: 22px; */
}
.tab-bar {
  
  margin-top: -10px;
    margin-bottom: -20px;
}
.dialog-arrow-button-left {
    position: absolute;
    left:90px;
    top: 600px;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    /* border-radius: 100%; */
  
    /* border: none; */
    /* cursor: pointer; */
    /* background-color: rgba(18, 18, 63, 0.275); */
    /* box-shadow: 0 2px 14px rgba(0, 0, 0, 0.764); */
    /* transition: all 0.3s ease; */
}
.dialog-arrow-button-right {
    position: absolute;
    right:90px;
    top: 600px;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    /* border-radius: 100%; */
  
    /* border: none; */
    /* cursor: pointer; */
    /* background-color: rgba(18, 18, 63, 0.275); */
    /* box-shadow: 0 2px 14px rgba(0, 0, 0, 0.764); */
    /* transition: all 0.3s ease; */
}

}